<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Personal De José Fernando Pérez Méndez
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-img src="../../assets/descargar.png">
    </ion-img>
    <ion-card-header>
      <ion-card-title>
        José Fernando Pérez Méndez
      </ion-card-title>

      <ion-card-subtitle>
        Estudiante Universitario
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, nisi perferendis. Tempora cupiditate ullam in
      sint mollitia numquam culpa accusantium nobis voluptatum? Ducimus animi natus quas laborum ad quaerat inventore.
      Enim cumque excepturi vel fugit? Deserunt consequuntur praesentium at harum cupiditate molestias natus iusto
      inventore repudiandae ducimus. Quis odit quam perspiciatis cum repudiandae ex, veritatis velit quod dolorum
      asperiores unde.
      Est ex assumenda soluta cum enim provident earum voluptas repellendus temporibus commodi beatae ipsam obcaecati
      vero rerum asperiores possimus, odit voluptate, voluptatibus optio. Rerum amet sit inventore? Labore, tempore
      quisquam.
      Quisquam aut inventore error ullam voluptas magnam eveniet eaque dolorum. Reprehenderit voluptatibus accusantium
      explicabo modi officiis quam similique! Numquam eum repellendus ab totam sunt ex quidem assumenda, autem officiis
      accusantium.
    </ion-card-content>
  </ion-card>


</ion-content>